table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

.container{
  position: relative;
  margin: 10px;
  height: 200px;
}

div.second {
    width: 600px;
    overflow-x:scroll;
    margin-left:122px;
    overflow-y:visible;
    height: auto;
}
div.first {
    width: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 150px;
    position: absolute;
    top:auto;
}
.headcol1 {
    position: absolute;
    width:50px;
    left:0;
    top:auto;
}
.headcol2 {
    position: absolute;
    width:50px;
    left:61px;
    top:auto;
}

/*.fixed-sized{
  width: 713px;
  height: 200px;
  overflow: auto;
}*/

/*.fixed-table{
  position: absolute;
  width: 150px;
}

.scrollable-table{
  margin-left: 150px;
}*/
